.zombie-card{
    max-width: 28.333333%;
}
#jt-index{
    background-image: url("https://ykeradionet.files.wordpress.com/2019/01/ykeresidentbanner2.jpg?w=1000");
    background-size: cover;
    height: 60vh;
}
.card-deck{
    margin-right: -110px;
}